body {
    margin: 0;
    padding: 0;
}

.tampil {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
}

.tampil-body {
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100%;
	text-align: center;
}

.tampil-body div{
	border-radius: 25px;
	margin: auto;
	padding: 20px;
	width: 35%;
	background-color: white;
}

.tampil-body button{
	cursor: pointer;
	background-color: black;
	border-radius: 15px;
	color: white;
	padding: 8px;
	width: 80px;
}